@model FinalProject.Models.View.ServicoHistoricoModelView

@{
    ViewData["Title"] = "Editar";
}

<h1>Edit</h1>

<h4>Histórico de Serviço</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_servHist" />
            <div class="form-group">
                <label asp-for="oqfoialterado" class="control-label">O que foi alterado</label>
                <input asp-for="oqfoialterado" class="form-control" />
                <span asp-validation-for="oqfoialterado" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="dtAlteracao" />
            <div class="form-group">
                <label asp-for="servicosId" class="control-label">Servico: </label>
                <select asp-for="servicosId" asp-items="@ViewBag.ListaServicos"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
